<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-1"><a href="http://www.google.com/" class="btn btn-primary" role="button">Download App</a></div>
        <div class="col-md-2"><a href="http://www.google.com/" class="btn btn-primary" role="button">Create account</a></div>
        <div class="col-md-1"><a href="http://www.google.com/" class="btn btn-warning" role="button">Sign in</a></div>
    </div>
</div>

<h1><center>Pro-Study</center></h1>
<h3 class="text-primary"><center>DO YOUR WORK WITH PRO-STUDY!</center></h3>
