
{{extend 'layout.html'}}
<!-------The following codes were written by Qin Jingfei---------------------------------------------------------------------------------------------------------------->
<script type="text/javascript">
    function startTimer() {
        total = 60 * 25;
        myClock = setInterval(function () {
            $("#Demo").prop("disabled","true");
            total = total - 1;
            document.getElementById("Demo").innerHTML = ( Math.floor(total / 60) + ":" + total % 60);
            if (total === 0) {
                cancelClock();
                alert("Done");
             $("#Demo").prop("disabled","false");
            }
        }, 1000);
        cancelClock = function () {
            clearInterval(myClock);
        }
    }
</script>


 <!--suppress ALL -->
<div class="container">

     <div class="col-sm-6" >
         <div class="panel panel-default">
             <div class="panel-heading center "  style="font-style: inherit" >
                 <button class="btn-default" id="Demo" onclick="startTimer()">
                     Start ProStudy
                 </button>

             </div>
             <div class="panel-body center">
                 <object class="icon icon-history">
                     <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24">
                         <path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13
                                 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97
                                  0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"></path>
                     </svg>
                 </object>
                 <br>
                 No Record
             </div>

         </div>
     </div>
<!----The codes above were written by Qin Jingfei------------------------------------------------------------------------------------------------------------------------------>




    <div class="col-sm-6">
         <div class="panel panel-default">
             <div class="panel-heading center " style="color: black; font-style: inherit">
                 Task:
				<input type="text" id="task" >
				<button type="button" class="btn btn-success btn-sm" onclick=add() >add</button>
             </div>

              <div class="panel-body center">
                  <ul id="list" class="list-group">  </ul>
              </div>

         </div>

     </div>
 </div>

<script>

var ul = document.getElementById("list");
var lastId=0;

function isBlank(str) {
    return (!str || /^\s*&/.test(str));
}

function add()
    {
        if(!isBlank(document.getElementById("task").value)) {


            var iCon = document.createElement('div'); //create a div container
            var dbtMenu=document.createElement('div');
            var li = document.createElement("il");  //create a list-element
            var closeSpan = document.createElement("span"); //create a span for badge attribute
            var ClickListState=0;

            dbtMenu.setAttribute("class","container");
            //dbtMenu.appendChild(dropDownList);
            li.setAttribute('id',lastId); // set an attribute for id
            iCon.className = "glyphicon glyphicon-remove"; // image for remove button
            closeSpan.setAttribute("class", "badge"); //create a new attribute for span
            closeSpan.appendChild(iCon); // put it in the span set
            iCon.addEventListener("click",function(){var element=document.getElementById(li.getAttribute('id'));
                                                    element.parentNode.removeChild(element);}); //functionlity
            li.innerHTML = document.getElementById('task').value;
            li.setAttribute("class", "list-group-item hover-yellow");
            li.addEventListener('click',function() {if(ClickListState==0){li.style.backgroundColor="red"; ClickListState++;}
                                                    else {li.style.backgroundColor="white"; ClickListState--; }});
            li.appendChild(closeSpan);
            lastId++;
            ul.appendChild(li);

        }
    }
</script>